<div class="item-well">
  <ul class="item-ul">
    <% @items.each do |item| %>
      <li class="item-list">
        <div>
          <% if item.photo? %>
            <%= item.photo %>
          <% else %>
            No Photo
          <% end %>
        </div>
        <div class="item-name">
          <%= link_to item.name, item_path(item[:id]) %>
        </div>
        <div class="item-price">
          $<%= item.price %>
        </div>
        <div>
          <%= item.status %>
        </div>
        <div>
          <%= link_to "edit", edit_item_path(item[:id]) %> | 
          <%= link_to "delete", item_path(item[:id]), method: :delete,
          data: {confirm: "Are you sure you want to delete this item?"} %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
